/* Responsive */
@media (min-width: 1800px) {
	.banner-content-outer h1 {
		font-size: 100px;
		max-width: 1000px;
	}
	.innerBannerData h1 {
		font-size: 80px;
	}
}
@media (max-width: 1199px) {
	.banner-content-outer h1 {
		font-size: 50px;
	}
	.hdr_menu li {
		margin-right: 15px;
	}

	.header-cta-btn {
		display: none;
	}
	.logo {
		width: 210px;
		display: block;
		position: relative;
		z-index: 999;
		top: 0;
		left: 0;
		transform: none;
	}
	.hdr_menu ul li:nth-child(3) {
		padding-left: 0;
	}
	.hdr_menu ul li:nth-child(2) {
		margin-right: 15px;
		padding-right: 0;
	}
	.header-right-content .menu-toggle-btn {
		width: 47px;
		height: 47px;
		background-color: rgba(0, 0, 0, 0.5);
		position: static;
		transform: none;
	}
}

@media (max-width: 991px) {
	.logo {
		width: 210px;
		display: block;
		position: relative;
		z-index: 999;
		top: 0;
		left: 0;
		transform: none;
	}

	.sticky .logo {
		width: 190px;
	}

	.nav_holder {
		padding: 10px 0;
		border-bottom: 1px solid rgba(255, 255, 255, 0.17);
	}
	.sticky .nav_holder {
		padding: 7px 0px;
	}
	.hdr_menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 400px;
		transform: translateX(100%);
		background: #fff;
		overflow-y: auto;
		transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
		padding: 10px 15px 20px;
		z-index: 99;
	}

	.hdr_menu ul {
		padding-top: 50px;
	}

	.hdr_menu ul li {
		width: 100%;
		transition: all 0.4s ease-in-out;
	}

	.hdr_menu ul li.menu-item-has-children .sub-menu {
		display: block;
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		padding: 0px 10px 0;
		background-color: transparent;
		box-shadow: none;
		transform: none;
		transition: initial !important;
		-webkit-transition: initial !important;
	}

	.hdr_menu ul li.menu-item-has-children ul li {
		padding: 5px 0;
		line-height: 1.5;
	}

	.hdr_menu li {
		margin-right: 0;
		padding-right: 0;
		border: 0;
		margin-bottom: 0px;
	}

	.hdr_menu li a {
		font-size: 15px;
		font-weight: 400;
		display: block;
		color: #000000;
		padding: 5px 0;
	}

	.hdr_menu li a:hover {
		color: #688238 !important;
	}

	.hdr_menu li a::before {
		display: none;
	}

	.hdr_menu li:hover a {
		color: #000000 !important;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a {
		color: #000;
		font-size: 15px;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a:hover {
		color: #688238;
		padding-left: 0;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a {
		color: #688238;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a:hover {
		color: #688238;
	}

	.hdr_menu li > a::after {
		display: none;
	}

	.sticky .hdr_menu li.current-menu-item a {
		color: #688238;
	}

	.sticky .hdr_menu li:hover a {
		color: #688238;
	}

	.sticky .hdr_menu li a {
		color: #000000;
		background-color: transparent;
	}

	.menu_btn {
		width: 30px;
		display: block;
	}

	.menu_btn span {
		height: 2px;
		display: block;
		background: #ef6130;
		margin-left: auto;
		transition: 0.4s;
	}

	.menu_btn span:nth-child(2) {
		width: 80%;
	}

	.menu_btn span + span {
		margin-top: 5px;
	}

	.menu_trigger {
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 100;
		transform: translateY(-50%);
		display: none;
	}

	.mobile_menu_active {
		overflow: hidden;
	}

	.mobile_menu_active .menu_trigger {
		right: 20px;
		top: 25px;
		transform: none;
		position: fixed;
	}

	.mobile_menu_active .hdr_menu {
		transform: translateX(0px);
	}

	.mobile_menu_active .overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 30;
	}

	.mobile_menu_active .menu_btn span {
		background: #688238;
	}

	.mobile_menu_active .menu_btn span:first-child {
		transform: rotate(45deg);
	}

	.mobile_menu_active .menu_btn span:last-child {
		transform: rotate(-45deg);
	}

	.mobile_menu_active .menu_btn span:nth-child(2) {
		display: none;
	}

	.mobile_menu_active .menu_btn span + span {
		margin-top: -2px;
		width: 100%;
	}

	.mobile_menu_active .hddr_inr {
		position: static;
	}

	.mobile_menu_active .sticky .nav_holder {
		position: fixed;
	}

	.mobile_menu_active .nav_inr {
		position: static;
	}

	.overlay {
		overflow: hidden;
	}

	.nav_inr {
		position: relative;
	}

	.sub_menu_opener {
		display: block;
		pointer-events: none;
	}

	.responisve-logo {
		display: block;
		width: 270px;
	}

	.header-social-list-outer {
		display: none;
	}

	.header-social-list-outer.responsive-header-social-btn {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}

	.responsive-menu-additional-components {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.hdr_menu li.menu-item-has-children .sub-menu li.current-menu-item a {
		padding-left: 0;
	}
	.side-pic {
		display: none;
	}
	.menu-holder {
		width: 100%;
		max-width: 100%;
	}
	.header-right-content .menu-toggle-btn {
		width: 47px;
		height: 47px;
		background-color: rgba(0, 0, 0, 0.5);
		position: static;
		transform: none;
	}

	.header-right-content .menu-toggle-btn span {
		border-top: 2px solid #fff;
	}
	.banner-social-outer::before,
	.banner-social-outer::after {
		display: none;
	}
	.banner-social-outer {
		display: none;
	}

	.sticky .header-right-content .menu-toggle-btn span {
		border-top: 2px solid #fff;
	}
	.section-padding {
		overflow-x: hidden;
	}
	.footer-logo {
		margin-left: 0;
		text-align: center;
	}
	.footer-social {
		text-align: center;
	}
	.footer-top-row > [class*="col-"]:nth-child(2) {
		padding-left: 12px;
	}
	.footer-top-row > [class*="col-"]:last-child {
		padding-left: 12px;
		justify-content: flex-start;
	}
	.offcCanvasActive.home .logo img {
		-webkit-filter: brightness(0);
		filter: brightness(0);
	}
	.locationBannerPic {
		display: none;
	}
	.innerBannerData h1 {
		font-size: 50px;
	}
	.sticky .logo img {
		-webkit-filter: brightness(0);
		filter: brightness(0);
	}
	.off-canvas-menu-holder .off-canvas-close-btn i {
		font-size: 35px;
		color: #000;
	}
	.headerLeftBtn {
		margin-left: auto;
		margin-right: 30px;
	}
	.hddr_inr {
		margin-left: 0;
	}
	.nav_holder::before,
	.nav_holder::after {
		display: none;
	}
	.whyUsWrapper .col-lg-7 {
		padding-right: 0;
	}
	.whyUsPic {
		margin-left: 0;
	}
	.whyUsPic img {
		width: 100%;
	}
	.outdoorServicesWrapper [class*="col-"]:last-child {
		margin-top: -246px;
	}
	.serviceStandardWrapper .whyUsContent {
		padding-left: 0;
	}
	.serviceSpecilaizationWrapper .our-designs-content-outer {
		max-width: 100%;
		margin: 0;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
		line-height: 26px;
	}

	.input-field {
		margin-bottom: 15px;
	}

	.banner-wrapper .banner-text {
		position: relative;
		z-index: 2;
	}

	.banner-wrapper .banner-text h1 {
		font-size: 32px;
	}

	.section-heading h2 {
		font-size: 28px;
		margin-bottom: 15px;
	}

	.banner-content-outer p {
		font-size: 20px;
	}
	.menu-holder .nav li a {
		padding: 0;
		font-size: 17px;
		line-height: 1.5;
	}
	.off-canvas-menu-holder .off-canvas-close-btn {
		top: 14px;
		right: 15px;
	}
	.banner-content-outer .btn {
		min-width: auto;
		width: 100%;
	}
	.btn,
	.basic-btn {
		font-size: 17px;
		line-height: 1.4;
		padding: 11px 24px;
	}

	.off-canvas-menu-holder {
		width: 100%;
	}
	.menu-holder .nav li {
		padding: 15px 20px;
	}
	.menu-holder .nav li.menu-item-has-children ul {
		-moz-column-count: 1;
		column-count: 1;
		padding-left: 12px;
	}
	.menu-holder .nav li.menu-item-has-children li {
		margin-bottom: 16px;
	}
	.menu-holder {
		padding: 120px 0 30px;
	}

	body.home .banner-wrapper .banner-video {
		min-height: auto;
		height: 500px;
	}
	.section-padding {
		padding: 40px 0;
	}
	.footer-widget {
		text-align: center;
	}
	.innerBannerWrapper {
		padding: 110px 0 60px;
	}
	.innerBannerData h1 {
		font-size: 32px;
	}
	.breadcrumb-wrapper {
		margin-bottom: 20px;
	}
	.innerBannerData p {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.section-heading p {
		font-size: 16px;
		line-height: 1.6;
	}
	.faq_acrdn .accordion-item .accordion-header .accordion-button {
		padding: 15px 35px 16px 0;
		font-size: 18px;
	}
	.faq_acrdn .accordion-button::after {
		top: 15px;
		width: 22px;
		height: 22px;
		font-size: 12px;
	}
	.faq_acrdn .accordion-button.collapsed:after {
		top: 15px;
	}
	.logo {
		width: 160px;
	}
	.headerLeftBtn .btn {
		font-size: 12px;
		padding: 7px 6px;
	}
	.headerLeftBtn {
		margin-right: 10px;
	}
	.sticky .logo {
		width: 150px;
	}
	.menu-holder .nav > ul > li.menu-item-has-children > ul {
		display: block;
	}
	.menu-holder .nav > ul > li.menu-item-has-children > ul > li > a {
		margin-bottom: 10px;
	}
	.banner-form-holder::before {
		display: none;
	}
	.banner-form-holder .form-title p {
		font-size: 22px;
		padding-left: 0;
		max-width: 100%;
		text-align: center;
	}
	.banner-form-holder .contact-form-outer {
		border-radius: 0 30px 0 30px;
		padding: 25px 15px;
	}
	.whyUsContentRow [class*="col-"] {
		padding-top: 20px;
	}
	.serviceCard .thumbnail {
		min-height: 350px;
		height: 350px;
	}
	.serviceCard .thumbnail img {
		border-radius: 15px;
	}
	.serviceCard .data {
		padding: 0 15px;
		flex-direction: column-reverse;
		align-items: flex-start !important;
	}
	.serviceCard .dataRight {
		border-left: 0;
		padding: 0;
		margin-bottom: 10px;
	}
	.serviceCard h3 {
		font-size: 24px;
	}
	.our-designs-wrapper
		.our-designs-content-outer
		.accordion-item
		.accordion-header
		.accordion-button {
		font-size: 20px;
		padding: 12px 0 12px 45px;
	}
	.our-designs-wrapper .our-designs-content-outer .accordion-body p {
		font-size: 16px;
	}
	.our-designs-wrapper .our-designs-content-outer .accordion-button::after {
		font-size: 20px;
		width: 35px;
		height: 35px;
	}
	.our-designs-wrapper .accordion::before {
		left: 17px;
		height: 83%;
		border-left: 1px dashed rgba(255, 255, 255, 0.5);
	}
	.our-designs-wrapper .our-designs-content-outer .accordion-body {
		padding: 0 0 10px 45px;
	}
	.howWeWorkWrapper .row::before {
		display: none;
	}
	.howWeWorkCard {
		padding: 20px;
		text-align: center;
		min-height: auto;
		pointer-events: none;
	}
	.howWeWorkCard .cardContent {
		max-width: 100%;
	}
	.howWeWorkCard .hoverBg {
		display: none;
	}
	.outdoorServicesWrapper [class*="col-"]:last-child {
		margin-top: 0;
	}
	.footer-top-row > [class*="col-"] {
		padding: 45px 15px 0;
	}
	.footer-top-row > [class*="col-"]:last-child {
		padding-left: 12px;
		justify-content: center;
		width: 100%;
	}
	.footer-bottom-row {
		padding: 20px 0;
		margin-top: 40px;
	}
	.footer-wrapper::before {
		display: none;
	}
	.outdoorServicesCard {
		height: 250px;
		min-height: 250px;
	}
	.outdoorServicesCard figure {
		height: 100%;
	}
	.banner-form-holder {
		margin: 50px 0 0;
	}
	.banner-form-holder .form-title p {
		color: #323232;
	}
	.locationContentHolder .postTitle h2 {
		font-size: 28px;
	}
	.locationDetailsContentOuter h3 {
		font-size: 25px;
	}
	.locationDetailsContentOuter li {
		margin-bottom: 20px;
		font-size: 16px;
	}
	.locationDetailsContentOuter .bgContent {
		padding: 15px;
		border-radius: 10px;
	}
	.locationDetailsContentOuter img,
	.featuredPic img {
		border-radius: 10px;
	}
	.featuredPic {
		height: 320px;
		min-height: 320px;
		margin: 25px 0;
	}
	.serviceBanner {
		padding: 140px 0 80px;
	}
	.post-holder a {
		font-size: 21px;
	}
}
