/* Responsive */
@media (min-width: 1800px) {
	.banner-content-outer h1 {
		font-size: 100px;
		max-width: 1000px;
	}
	.innerBannerData h1 {
		font-size: 80px;
	}
}
@media (max-width: 1199px) {
	.banner-content-outer h1 {
		font-size: 50px;
	}
	.hdr_menu li {
		margin-right: 15px;
	}
	.ourProjectWrapper {
		overflow-x: hidden;
	}
	.aduRegulationWrapper .row,
	.floorPlansWrapper .row,
	.ourPhilosophyWrapper .row {
		margin-left: calc(-0.5 * var(--bs-gutter-x));
		margin-right: calc(-0.5 * var(--bs-gutter-x));
	}
}

@media (max-width: 991px) {
	.logo {
		width: 120px;
		display: block;
		position: relative;
		z-index: 999;
	}

	.sticky .logo {
		width: 100px;
	}

	.nav_holder {
		padding: 10px 0;
	}

	.hdr_menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 400px;
		transform: translateX(100%);
		background: #fff;
		overflow-y: auto;
		transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
		padding: 10px 15px 20px;
		z-index: 99;
	}

	.hdr_menu ul {
		padding-top: 50px;
	}

	.hdr_menu ul li {
		width: 100%;
		transition: all 0.4s ease-in-out;
	}

	.hdr_menu ul li.menu-item-has-children .sub-menu {
		display: block;
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		padding: 0px 10px 0;
		background-color: transparent;
		box-shadow: none;
		transform: none;
		transition: initial !important;
		-webkit-transition: initial !important;
	}

	.hdr_menu ul li.menu-item-has-children ul li {
		padding: 5px 0;
		line-height: 1.5;
	}

	.hdr_menu li {
		margin-right: 0;
		padding-right: 0;
		border: 0;
		margin-bottom: 0px;
	}

	.hdr_menu li a {
		font-size: 15px;
		font-weight: 400;
		display: block;
		color: #000000;
		padding: 5px 0;
	}

	.hdr_menu li a:hover {
		color: #688238 !important;
	}

	.hdr_menu li a::before {
		display: none;
	}

	.hdr_menu li:hover a {
		color: #000000 !important;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a {
		color: #000;
		font-size: 15px;
	}

	.hdr_menu li.menu-item-has-children .sub-menu a:hover {
		color: #688238;
		padding-left: 0;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a {
		color: #688238;
	}

	.hdr_menu li.menu-item-has-children.current-menu-item > a:hover {
		color: #688238;
	}

	.hdr_menu li > a::after {
		display: none;
	}

	.sticky .hdr_menu li.current-menu-item a {
		color: #688238;
	}

	.sticky .hdr_menu li:hover a {
		color: #688238;
	}

	.sticky .hdr_menu li a {
		color: #000000;
		background-color: transparent;
	}

	.menu_btn {
		width: 30px;
		display: block;
	}

	.menu_btn span {
		height: 2px;
		display: block;
		background: #ef6130;
		margin-left: auto;
		transition: 0.4s;
	}

	.menu_btn span:nth-child(2) {
		width: 80%;
	}

	.menu_btn span + span {
		margin-top: 5px;
	}

	.menu_trigger {
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 100;
		transform: translateY(-50%);
		display: none;
	}

	.mobile_menu_active {
		overflow: hidden;
	}

	.mobile_menu_active .menu_trigger {
		right: 20px;
		top: 25px;
		transform: none;
		position: fixed;
	}

	.mobile_menu_active .hdr_menu {
		transform: translateX(0px);
	}

	.mobile_menu_active .overlay {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 30;
	}

	.mobile_menu_active .menu_btn span {
		background: #688238;
	}

	.mobile_menu_active .menu_btn span:first-child {
		transform: rotate(45deg);
	}

	.mobile_menu_active .menu_btn span:last-child {
		transform: rotate(-45deg);
	}

	.mobile_menu_active .menu_btn span:nth-child(2) {
		display: none;
	}

	.mobile_menu_active .menu_btn span + span {
		margin-top: -2px;
		width: 100%;
	}

	.mobile_menu_active .hddr_inr {
		position: static;
	}

	.mobile_menu_active .sticky .nav_holder {
		position: fixed;
	}

	.mobile_menu_active .nav_inr {
		position: static;
	}

	.overlay {
		overflow: hidden;
	}

	.nav_inr {
		position: relative;
	}

	.sub_menu_opener {
		display: block;
		pointer-events: none;
	}

	.responisve-logo {
		display: block;
		width: 270px;
	}

	.header-social-list-outer {
		display: none;
	}

	.header-social-list-outer.responsive-header-social-btn {
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}

	.responsive-menu-additional-components {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.hdr_menu li.menu-item-has-children .sub-menu li.current-menu-item a {
		padding-left: 0;
	}
	.our-work-process-wrapper .tab-content > .tab-pane {
		display: block;
		opacity: 1;
	}
	.side-pic {
		display: none;
	}
	.menu-holder {
		width: 100%;
		max-width: 100%;
	}
	.header-right-content .menu-toggle-btn {
		width: auto;
		height: auto;
		background-color: transparent;
		position: static;
		transform: none;
	}
	.sticky .header-right-content .menu-toggle-btn {
		height: auto;
		box-shadow: none;
	}
	.header-cta-btn {
		display: none;
	}
	.header-right-content .menu-toggle-btn span {
		border-top: 2px solid #084c83;
	}
	.banner-social-outer::before,
	.banner-social-outer::after {
		display: none;
	}
	.banner-social-outer {
		display: none;
	}

	.sticky .header-right-content .menu-toggle-btn span {
		border-top: 2px solid #084c83;
	}
	.section-padding {
		overflow-x: hidden;
	}
	.logoBox {
		display: none;
	}
	.whyUsDataOter [class*="col-"]:nth-child(2) .whyUsBox,
	.whyUsDataOter [class*="col-"]:nth-child(4) .whyUsBox {
		padding-left: 50px;
	}
	.projectSlider .data h3 {
		font-size: 26px;
	}
	.projectSlider .projectAminites {
		bottom: auto;
		top: 50%;
		transform: translate(55px, -50%);
	}
	.projectSlider .swiper-slide-active .projectAminites {
		transform: translate(0, -50%);
	}
	.projectSlider .projectAminites .item {
		padding: 4px 6px;
		height: auto;
	}
	.projectSlider .projectAminites .item figure {
		max-width: 20px;
	}
	.projectSlider .data a {
		bottom: 20px;
	}
	.floorPlansWrapper .col {
		width: 50%;
		padding: 0 12px;
	}
	.section-heading h2 {
		font-size: 40px;
	}
	.homeCtaWrapper .ctaPic {
		display: none;
	}
	.ourServiceWrapper [class*="col-"] {
		margin-bottom: 30px;
	}
	.testimonialWrapper .testimonialVideo {
		position: static;
		width: 100%;
		margin-top: 30px;
		padding: 12px;
	}
	.testimonualContent {
		max-width: 100%;
	}
	.testimonial-slide-card {
		max-width: 100%;
	}
	.footer-logo {
		margin-left: 0;
		text-align: center;
	}
	.footer-social {
		text-align: center;
	}
	.footer-top-row > [class*="col-"]:nth-child(2) {
		padding-left: 12px;
	}
	.footer-top-row > [class*="col-"]:last-child {
		padding-left: 12px;
		width: 100%;
		justify-content: center;
	}
	.offcCanvasActive.home .logo img {
		-webkit-filter: none;
		filter: none;
	}
	.locationBannerPic {
		display: none;
	}
	.innerBannerData h1 {
		font-size: 50px;
	}
	.sticky .logo img {
		-webkit-filter: none;
		filter: none;
	}
	.off-canvas-menu-holder .off-canvas-close-btn i {
		font-size: 35px;
		color: #000;
	}
	.locationContentWrapper {
		padding-top: 60px;
	}
	.locationContentWrapper .featuredPic {
		margin-top: 0;
	}
	.locationinglBanner {
		min-height: auto;
	}
	.sidebar {
		margin-left: 0;
		margin-top: 40px;
	}
	.tocWidget {
		display: none;
	}
	.prjectDetailsBanner {
		min-height: auto;
	}
	.proejctGalleryOuter {
		margin: 0;
	}
	.menu-holder .nav li.current-menu-item {
		background-color: #084c83;
	}
	.menu-holder .nav li.current-menu-item a {
		color: #fff;
	}
	.single .locationinglBanner {
		min-height: auto;
		padding-top: 160px;
	}
	.single .locationContentWrapper {
		padding-bottom: 60px;
	}
	.locationMenu ul {
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 767px) {
	body {
		font-size: 16px;
		line-height: 26px;
	}

	.input-field {
		margin-bottom: 15px;
	}

	.banner-wrapper .banner-text {
		position: relative;
		z-index: 2;
	}

	.banner-wrapper .banner-text h1 {
		font-size: 32px;
	}

	.section-heading h2 {
		font-size: 28px;
		margin-bottom: 15px;
	}

	.banner-content-outer p {
		font-size: 20px;
	}
	.menu-holder .nav li a {
		padding: 0;
		font-size: 17px;
		line-height: 1.5;
	}
	.off-canvas-menu-holder .off-canvas-close-btn {
		top: 14px;
		right: 15px;
	}
	.banner-content-outer .btn {
		min-width: auto;
		width: 100%;
	}
	.btn,
	.basic-btn {
		font-size: 17px;
		line-height: 1.4;
		padding: 11px 24px;
	}

	.off-canvas-menu-holder {
		width: 100%;
	}
	.menu-holder .nav li {
		padding: 15px 20px;
	}
	.menu-holder .nav li.menu-item-has-children ul {
		-moz-column-count: 1;
		column-count: 1;
		padding-left: 12px;
	}
	.menu-holder .nav li.menu-item-has-children li {
		margin-bottom: 16px;
	}
	.menu-holder {
		padding: 120px 0 30px;
	}

	body.home .banner-wrapper .banner-video {
		min-height: 730px;
	}
	.section-padding {
		padding: 40px 0;
	}
	.whyUsBox,
	.whyUsDataOter [class*="col-"]:nth-child(2) .whyUsBox,
	.whyUsDataOter [class*="col-"]:nth-child(3) .whyUsBox,
	.whyUsDataOter [class*="col-"]:nth-child(1) .whyUsBox,
	.whyUsDataOter [class*="col-"]:nth-child(4) .whyUsBox {
		padding: 25px 20px;
		border-radius: 0px 15px 0 15px;
	}
	.whyUsBox .dataTitle h3 {
		font-size: 20px;
	}
	.whyUsWrapper .section-heading {
		margin: 0 auto 30px;
	}
	.infiniteStepsWrapper {
		padding: 40px 0;
		min-height: 450px;
	}
	.processRow {
		display: flex;
		flex-wrap: wrap;
	}
	.processRow .item:not(:last-child)::after {
		display: none;
	}
	.processRow .item h3 {
		font-size: 22px;
	}
	.processRow .item {
		width: 50%;
		padding: 60px 5px 0;
	}
	.processRow .item::before {
		top: 0;
		width: 50px;
		height: 50px;
		font-size: 24px;
	}
	.infiniteStepsWrapper .section-heading h2 {
		margin-bottom: 40px;
	}
	.service-slider-outer {
		margin: 0;
		padding: 0 12px;
	}
	.floorPlansWrapper .col {
		width: 100%;
	}
	.floorPlanCard p {
		font-size: 17px;
		text-align: center;
	}
	.floorPlanCard h3 {
		text-align: center;
	}
	.homeCtaWrapper .section-heading {
		margin-right: 0;
		text-align: center;
	}
	.ourServiceCard h3 {
		font-size: 25px;
	}
	.aduVisionWrapper .tabCumAccordian .tabMain {
		display: none;
	}
	.aduVisionWrapper .tabCumAccordian > div {
		width: 100%;
		max-width: 100%;
	}
	.aduVisionWrapper .tabCumAccordian .tabNav .title-outer h3 {
		font-size: 22px;
	}
	.ourPhilosophyWrapper [class*="col-"] {
		padding-left: 12px;
		padding-right: 12px;
	}
	.aduVisionWrapper .tabCumAccordian .tabNav ul li::before {
		top: 4px;
		width: 40px;
		height: 40px;
		background-color: #084c83;
		color: #fff;
		font-size: 15px;
	}
	.aduVisionWrapper .tabCumAccordian .tabNav ul li {
		margin-bottom: 25px;
		padding-left: 60px;
	}
	.aduVisionWrapper .tabCumAccordian .tabNav ul li::after {
		left: 20px;
	}
	.ourPhilosophyWrapper .datTitle figure {
		width: 30px;
		min-width: 30px;
		max-width: 30px;
	}
	.footer-wrapper {
		padding: 40px 0;
	}
	.footer-top-row > [class*="col-"] {
		padding: 0 12px;
		margin-bottom: 30px;
		width: 100%;
	}
	.footerFormOuter .title p {
		font-size: 22px;
		text-align: center;
	}
	.footer-bottom-row .holder {
		padding: 30px 0 0;
		margin-top: 0;
	}
	.footer-widget {
		text-align: center;
	}
	.innerBannerWrapper {
		padding: 110px 0 60px;
	}
	.innerBannerData h1 {
		font-size: 32px;
	}
	.breadcrumb-wrapper {
		margin-bottom: 20px;
	}
	.innerBannerData p {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.locationDetailsContentOuter .linkContent::before {
		display: none;
	}
	.locationDetailsContentOuter .linkContent {
		margin: 25px 0;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}
	.locationDetailsContentOuter .linkItem a {
		font-size: 17px;
	}
	.tableHolder {
		overflow-x: scroll;
	}
	.locationDetailsContentOuter h3 {
		font-size: 28px;
	}
	.locationDetailsContentOuter h3 {
		font-size: 23px;
	}
	.section-heading p {
		font-size: 16px;
		line-height: 1.6;
	}
	.locationDetailsContentOuter .workProcessContent,
	.locationDetailsContentOuter .tableContent,
	.locationDetailsContentOuter .faqContent {
		padding: 15px;
	}
	.locationDetailsContentOuter .workProcessContent h2,
	.locationDetailsContentOuter .tableContent h2,
	.locationDetailsContentOuter .faqContent h2 {
		font-size: 28px;
	}
	.faq_acrdn .accordion-item .accordion-header .accordion-button {
		padding: 15px 35px 16px 0;
		font-size: 18px;
	}
	.faq_acrdn .accordion-button::after {
		top: 15px;
		width: 22px;
		height: 22px;
		font-size: 12px;
	}
	.faq_acrdn .accordion-button.collapsed:after {
		top: 15px;
	}
	.locationDetailsContentOuter .footerFormOuter {
		margin-top: 25px;
		padding: 15px;
	}
	.locationDetailsContentOuter .bgContent {
		padding: 15px;
	}
	.locationWidget a {
		font-size: 16px;
		padding: 7px 8px;
	}
	.serviceFeaturesContent .iconBox {
		min-height: auto;
	}
	.serviceFeaturesContent .row {
		margin: 0;
	}
	.serviceFeaturesContent [class*="col-"] {
		padding: 0;
	}
}
